Segmentation/SwinHafNet_model_8535.pth
Segmentation/__pycache__/
Segmentation/archive/
Segmentation/archive1/

Classification/__pycache__/
Classification/archive/
Classification/data/
Classification/checkpoints_1ch/
Classification/checkpoints_2ch/